---
import {WebPlayback} from "../components/WebPlayback";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import type { PlaylistInformation } from "../lib/types";
import {SelectGenre} from "../components/SelectGenre";

const { cookies, url, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/");
}

const { data, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error || !cookies.has('spotify-access-token')) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/");
}

// const user = await supabase.auth.getUser()
const spotify_access_token = cookies.get("spotify-access-token")?.value;
const playlist_id = url.searchParams.get("p");

// Obtendriamos info de la playlist del usuario donde luego agregaremos las canciones que venga como parametro
const playlist: PlaylistInformation = await fetch(`https://api.spotify.com/v1/playlists/${playlist_id}`,{
   headers: {
        'Authorization': `Bearer ${spotify_access_token}`
    }
})
.then(response => response.json());


if (!playlist) {
  return redirect("/home");
}
---

<Layout title="Discover">
    <div class="text-white">
      <header class="flex flex-col items-center justify-center mb-4">
        <h1 class="text-gradient">Discover new music</h1>
        <p class="italic -mt-2 text-gray-400 ">Listen to some chunk-songs & add to your playlist if you liked them!</p>
      </header>

        <main>
          <header class="mb-2">
            <div class="flex gap-1 items-center">
              <h2 class="font-bold flex items-center gap-1">Playlist selected <span class=" text-accent-light flex gap-1 items-center ">{playlist.name} <a aria-label="Change playlist" href="/home" class=" text-accent-light hover:text-amber-500 transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M5 18h4.24a1 1 0 0 0 .71-.29l6.92-6.93L19.71 8a1 1 0 0 0 0-1.42l-4.24-4.29a1 1 0 0 0-1.42 0l-2.82 2.83l-6.94 6.93a1 1 0 0 0-.29.71V17a1 1 0 0 0 1 1m9.76-13.59l2.83 2.83l-1.42 1.42l-2.83-2.83ZM6 13.17l5.93-5.93l2.83 2.83L8.83 16H6ZM21 20H3a1 1 0 0 0 0 2h18a1 1 0 0 0 0-2"/></svg>
              </a></span></h2>
            </div>
            <p class="text-gray-400 italic text-sm">Remember you can only add music to your own playlists</p>
          </header>

            <div class="mt-4">
              <WebPlayback spotify_access_token={spotify_access_token ?? ""} playlist_id={playlist_id!} client:load/>
            </div>
        </main>
    </div>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
</style>
